<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Goole Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.114599062010-poip3udfsdmffqemovhkecso4au0l92q</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>114599062010-poip3udfsdmffqemovhkecso4au0l92q.apps.googleusercontent.com</string>
</dict>
</plist>
